<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    package="com.rokid.cloudappclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <application
        android:name="com.rokid.cloudappclient.RKCloudAppApplication">

        <activity
            android:name="com.rokid.cloudappclient.activity.CloudSceneActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.rokid.cloudsceneclient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.rokid.cloudappclient.activity.CloudCutActivity"
            android:process=":remote"
            android:launchMode="singleTask"
            android:taskAffinity="com.rokid.cloudcutclient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.rokid.cloudappclient.aidl.CloudSceneService"
            android:exported="true">
        </service>

        <service
            android:name="com.rokid.cloudappclient.aidl.CloudCutService"
            android:process=":remote"
            android:exported="true">
        </service>

    </application>

</manifest>