<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokid.falconcloudclient"
    android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <service android:name="com.rokid.falconcloudclient.FalconCloudTask"
            android:exported="true">
        </service>

        <service
            android:name="com.rokid.falconcloudclient.aidl.CloudService"
            android:exported="true">
        </service>

    </application>

</manifest>